@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Work+Sans:wght@400;500&display=swap');

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

html, body {
  width: 100%;
  scroll-behavior: smooth;
  background-color: #E4D8DC;
  margin: 0;
}

.main-wrapper, .container {
  font-family: 'Work Sans', sans-serif;
  color: #021640;
  background-color: #ffffff;
  text-align: center;
  width: 100%;
  margin: 2.5rem 0;
}

.main-wrapper {
  background-color: #E4D8DC;
  padding-bottom: 1.5rem;
}

.footer {
  font-family: 'Work Sans', sans-serif;
  width: 100%;
  background-color: #E4D8DC;
  text-align: center;
  padding: 2.5rem 0;
}

.footer div {
  color: #93B5C6;
  margin-top: 4rem;
}

h1, h2 {
  font-family: 'Playfair Display', serif;
}

.profile-photo {
  width: 12.5rem;
  height: 12.5rem;
  object-fit: cover;
  border: 0.5px solid #93B5C6;
  border-radius: 50%;
  box-shadow: 12px 12px 2px 1px rgb(201, 204, 213);
  margin-bottom: 1rem;
}

.about {
  width: 100%;
  border-bottom: 1px solid #E4D8DC;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.about-me {
  margin-bottom: 1.5rem;
}

.projects {
  margin: 2rem 0;
}

.col-12 {
  margin-bottom: 2rem;
}

/* card */
.card-product {
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 22rem;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 8px;
}

.card-product img {
  height: 100%;
  width: 50%;
  object-fit: cover;
  border-radius: 8px;
}

.card-product h3 {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0;
}

.project-type {
  color: #93B5C6;
}

.card-product p {
  font-size: 0.8rem;
  line-height: 1.4;
  opacity: .7;
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.card-product .card-product-infos {
  padding: 0.4rem;
  margin: 0 auto;
}

.card-product-infos > .tech-stack {
  font-size: 1.4rem;
  margin: 0.9rem 0;
}

.card-product-infos > .more-info {
  font-size: 0.8rem;
  width: 50%;
  margin: 0 auto;
}

.card-product-infos > a {
  color: #021640;
}

.website-link {
  border: 2px solid #021640;
  border-radius: 16px;
  padding: 0.2rem;
  margin-bottom: 0.3rem;
}

.website-link:hover {
  background-color: #FFE3E3;
}
